# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/
bin/
obj/
Debug/
Release/
.vs/

# Android Studio
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

# SQL Server scripts temporários
*.bak
*.log
*.tmp

# Sistema
Thumbs.db
*.class
*.exe
*.dll
*.pdb
*.mdb
*.ldb
