@page
@{
    ViewData["Title"] = "Acompanhamento de Chamados";
}

<h2>Acompanhamento de Chamados</h2>

<table border="1" cellpadding="6">
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Status</th>
        <th>Responsável</th>
        <th>Última Atualização</th>
    </tr>
    <tr>
        <td>001</td>
        <td>Erro no login</td>
        <td>Em análise</td>
        <td>Lucas Vieira</td>
        <td>06/11/2025</td>
    </tr>
    <tr>
        <td>002</td>
        <td>Impressora não conecta</td>
        <td>Resolvido</td>
        <td>Enzo Ferrari</td>
        <td>05/11/2025</td>
    </tr>
</table>
